<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/HomeStyle.css" asp-append-version="true">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-success navbar-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#brand">HCSpillage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="RegisterByUser" asp-controller="Account">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer class="footer text-white text-start ps-4" style="background-color: rgb(84, 184, 92);">
        <div class="row">
            <div class="col-lg-4 col-sm-12 footer-text">
                <h4>Our Services</h4>
                <p>Online Database of verified Gas Spill Incidences.</p>
                <p>Online Platform for daily Gas Flare</p>
                <p>Gas detection spillage system integration with standard data communication protocol.</p>
            </div>
            <div class="col-lg-4 col-sm-12 footer-text">
                <h4>About Us</h4>
                <p style="text-decoration: none">Offer Affordable Product</p>
            </div>
            <div class="col-lg-4 col-sm-12 footer-text">
                <h4>Contact Us</h4>
                <p>Email: Olawalemohammed774@gmail.com</p>
                <p>Phone Number: +2348061672316</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    @if (IsSectionDefined("Script"))
    {
         @RenderSection("Script", true)
    }
   
</body>
</html>