@model UserAccountViewModelByAdmin

@{
	ViewBag.Title = "Admin Registration";
}

<div class="container" style="margin-top: 100px">

	<div class="row">


		<div class="col-lg-3"></div>
		<div class="col-lg-6 col-sm-12 shadow card">
			<form method="post" asp-action="RegisterByAdmin" asp-controller="Account">
				<div class="mb-3">
					<h3 class="text-center mt-3">Admin Registration</h3>
				</div>
				<input hidden asp-for="Name"/>
				<div class="mb-3">
					<label asp-for="Firstname" class="form-label"></label>
					<input asp-for="Firstname" class="form-control" placeholder="First Name" />
					<span asp-validation-for="Firstname"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Lastname" class="form-label"></label>
					<input asp-for="Lastname" class="form-control" placeholder="Last Name" />
					<span asp-validation-for="Lastname"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Email" class="form-label"></label>
					<input asp-for="Email" class="form-control" placeholder="Email" />
					<span asp-validation-for="Email"></span>
				</div>

				<div class="mb-3">
					<label asp-for="DeviceId" class="form-label"></label>
					<input asp-for="DeviceId" class="form-control" placeholder="Device Id" />
					<span asp-validation-for="DeviceId"></span>
				</div>
				<div class="mb-3">
					<label asp-for="DeviceToken" class="form-label"></label>
					<input asp-for="DeviceToken" class="form-control" placeholder="Device Token" />
					<span asp-validation-for="DeviceToken"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Username" class="form-label"></label>
					<input asp-for="Username" class="form-control" placeholder="UserName" />
					<span asp-validation-for="Username"></span>
				</div>

				<div class="mb-3">
					<label asp-for="PhoneNumber" class="form-label"></label>
					<input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
					<span asp-validation-for="PhoneNumber"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Location" class="form-label"></label>
					<input asp-for="Location" class="form-control" placeholder="Location" />
					<span asp-validation-for="Location"></span>
				</div>
				<div class="mb-3 text-center">
					<button class="btn btn-primary btn-lg" style="width: 100%;" type="submit">Register</button>
				</div>

			</form>
		</div>

		<div class="col-lg-3"></div>
	</div>
</div>

@section Script
	{
	<script>
		var element = document.getElementsByTagName("footer")[0];
		element.parentNode.removeChild(element);
	</script>
  }