

    <div class="container-fluid cover-screen">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <p class="bg-paragragh display-5 mb-5">Welcome To HCSpillage, The Home Of Gas</p>
                <a class="btn btn-success me-4" href="#product">Learn More About HCSpillage</a>
                <a class="btn btn-success" asp-action="GetAllData" asp-controller="DataPresentation"> Get Started</a>
            </div>
        </div>
    </div>

    <div class="container-fluid row text-center mt-5 mb-5" id="brand">
        <div class="col-md-6 col-sm-12 col-lg-4">
            <div><i class="bi bi-fire" style="font-size: 5em; color: rgb(84, 184, 92);"></i></div>
            <h4>Gas Flame</h4>
            <p>
            Flammable gases are explosive when they are mixed with air or oxygen in the right proportions. 
            Examples of flammable gases are propane, 
            hydrogen, butane, methane, ethylene, acetylene, ammonia, ethane and silane.
            </p>
        </div>

        <div class="col-md-6 col-sm-12 col-lg-4">
            <div><i class="bi bi-fuel-pump" style="font-size: 5em; color: rgb(84, 184, 92);"></i></div>
            <h4>Gas Station</h4>
            <p>
            A gas station also known as a petrol station is a business that retails diesel, 
            gasoline and various types of motor vehicle lubricants. 
            The increase in the number of automobiles has pushed up the demand for gasoline 
            and diesel which makes the gas station business plan a lucrative venture
            </p>
        </div>

        <div class="col-md-6 col-sm-12 col-lg-4">
            <div><i class="bi bi-shop" style="font-size: 5em; color: rgb(84, 184, 92);"></i></div>
            <h4>Gas Manafacturers</h4>
            <p>
            Industrial gases producers use advanced technologies to supply gases like oxygen, nitrogen and hydrogen. 
            Many of these gases are used in manufacturing, 
            health care, transportation and other essential industries
            </p>
        </div>
    </div>

    <hr class="border border-success border-2 opacity-50">
    <br>
    <div class="container row mt-5 text-center" id="product">
        <div class="col-lg-8 col-md-6 col-sm-12" style="border-right: solid green 2px;">
            <h4>Our Product</h4>
            <p class="lead">
                Our Product are affordable, we sale devices that help you monitor Gas flow and report changes immediately.
            </p>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 ps-5">
            <img src="~/images/image1.jpg" alt="">
        </div>

    </div>

    <br>
    <br>