

        @*Description of the product *@
    <div class="container-fluid cover-screen">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <p class="bg-paragragh display-5 mb-5">Welcome To HCSpillage, The Services that Enhanced Life</p>
                <a class="btn btn-success me-4 mt-3 col-lg-3 col-sm-12" href="#product">Learn More About HCSpillage</a>
            <a class="btn btn-success mt-3 col-lg-3 col-sm-12 me-3" asp-action="deviceData" asp-controller="home"> View Device Data</a>
            </div>
        </div>
    </div>

    <div class="container-fluid row text-center mt-5 mb-5" id="brand">
               <h3>HCSpillage Services</h3>

               <div class="col-lg-3"></div>
               <div class="col-lg-6 col-sm-12">
                   <p class="lead description">
            The hydro carbon detection System is used to detect gas spillage in the environment.
            It is a small and user-friendly device that effectively detects hydro carbon (gas)
            leakage because of its highly sensitive sensor. 
            It has an operating range of 0-1000ppm and an alarm range of 10-4000ppm.
                   </p>
                    
               </div>
               <div class="col-lg-3"></div>
    </div>

    <hr class="border border-success border-2 opacity-50">
    <br>
    <div class="container row mt-3  text-center" id="product">
    <h4 class="mb-5">Our Product</h4>
    <br />

    <div class="col-lg-6 col-md-6 col-sm-12 ">
        
		<video controls="controls" class="" style="height: 300px;">
			<source src="~/videos/videohscpillage.mp4" type="video/mp4" />
		</video>
            <p class="mt-2 lead">Video Description of how HCspillage Works</p>
        </div>

    <div class="col-lg-6 col-md-6 col-sm-12 text-center card HcImage">
        <img class="card-body" src="~/images/image2.jpg" alt="" asp-append-version="true">
            <p class="lead ">Finished Product</p>
        </div>

    </div>

    <br>
    <br>