@{
    ViewBag.Title = "HCSpillage Services";
}

        @*Description of the product *@
    <div class="container-fluid cover-screen">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-12 text-center">
                
            <p class="bg-paragragh display-5 mb-5 text-center" style="line-height: 1.5;">Welcome To HCSpillage <br /> 
                a system tailored to solve/minimize environmental 
                menace caused by oil spillages and mitigating economic loss to the end users.
            </p>
                <a class="btn btn-success me-4 mt-3 col-lg-4 col-sm-12" href="#product">Learn More About HCSpillage</a>
            <a class="btn btn-success mt-3 col-lg-3 col-sm-12 me-3" asp-action="deviceData" asp-controller="home"> View Device Data</a>
            </div>
        <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="container-fluid row text-center mt-5 mb-5" id="brand">
               <h3 style="font-weight: bold" class="mb-3 text-decoration-underline">HCSpillage Services</h3>

              @* <div class="col-lg-2"></div>*@
               <div class="col-lg-10 col-sm-12 container">
                   <p class="lead description">
            The hydro carbon detection System is used to detect gas spillage in the environment.
            It is a small and user-friendly device that effectively detects hydro carbon (gas)
            leakage because of its highly sensitive sensor. 
            It has an operating range of 0-1000ppm and an alarm range of 10-4000ppm.
                   </p>
                    
               </div>
               @*<div class="col-lg-2"></div>*@
    </div>

    <hr class="border border-success border-2 opacity-50">
    <br>
    <div class="row mt-3 " id="product">
    <h4 class="mb-5 text-center text-decoration-underline">Our Product</h4>
    <br />

    <div class="col-lg-6 col-md-6 col-sm-12 text-center border-section">
        
		<video controls="controls" class="" style="height: 300px;">
			<source src="~/videos/videohscpillage.mp4" type="video/mp4" />
		</video>
            <p class="mt-2 lead text-center mt-3 mb-5">Video Description of how HCspillage Works</p>
        </div>

    <div class="col-lg-6 col-md-6 col-sm-12 text-center" >
        <img class="HcImage" src="~/images/image2.jpg" alt="" asp-append-version="true">
            <p class="lead text-center mt-3">Finished Product</p>
        </div>

    </div>

    <br>
    <br>