body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.cover-screen {
    height: 650px;
    background-color: rgb(84, 184, 92);
}

form label {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.bg-paragragh {
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.icons {
    width: 50px;
    height: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgb(84, 184, 92);
}

.RHS-dashboard {
    margin-left: 18%;
}

.sidebar-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

    .sidebar-text a {
        text-decoration: none;
        color: white;
        margin: 10px;
        
    }

.HcImage {
    /*margin-left: 50px*/
   /* width: 400px;*/
    height: 300px;
}

.border-section
{
    border-right: 2px solid green;
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
    footer h4, p{
        text-align: left;
        line-height: 20px;
    }
    footer h4{
        text-align: left;
        margin-top: 15px;
    }
    .HcImage{
        /*margin-left: 10px;*/
    }

    .video-control {
        border-right: none;
    }

    .border-section {
        border-right: none;
    }
}

.video-control {
    border-right: solid green 2px;
}
footer h4{
    color: black;
    text-align: left;
}

.description
{
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5;
}