
.cover-screen {
    height: 650px;
    background-color: rgb(84, 184, 92);
}

.bg-paragragh {
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.icons {
    width: 50px;
    height: 50px;
}

.PDF {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col1 {
    text-align: right;
    font-size: 25px;
}

.col2 {
    /*display: flex;*/
    background-color: blue;
    align-items: end;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgb(84, 184, 92);
}

.RHS-dashboard {
    margin-left: 18%;
}

.sidebar-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .sidebar-text a {
        text-decoration: none;
        color: white;
        margin: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.navbar-dropdown {
    display: none;
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .navbar-dropdown {
        display: inline;
    }
}
